<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test API</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/router/add" method="post">
        <p>nama router</p>
        <input type="text" name="nama_router">
        <p>ip router</p>
        <input type="text" name="ip_router">
        <p>username router</p>
        <input type="text" name="username_router">
        <p>password router</p>
        <input type="text" name="password_router">
        <p>port router</p>
        <input type="text" name="port">

        <input type="submit">
    </form>
</body>
</html>